.container{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 5px 13px 2px #35457552;
    width: 94%;
    margin-left: 1.5%;
    background-color: #f0f4ff;
    overflow: auto;
    margin-top: 2%;
}

.container .left-column{
    width: 72%;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px #35457552;
    background-color: #fff;
    float: left;
}

.container .left-column .plan-chart{
    height: 600px;
}

.container .right-column{
    width: 26%;
    float: left;
    margin-left: 1.5%;
}
